.container {
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 8px;
  border-spacing: 0;
  overflow-x: scroll;
}

.heading_container {
  background: #cde2e9;
  font-weight: bold;
  color: #285480;
}
.heading {
  border-bottom: 1px solid #bcd4dc;
  min-width: 100px;
  position: relative;
  cursor: pointer;
  padding: 5px;
}
.heading:first-of-type {
  min-width: 200px;
  cursor: pointer;
}
.sort_options {
    top: -20px;
    left: 20px;
}
.sort_heading {
    margin: 0;


}
.sort_selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #bcd4da;
    padding: 5px 0 0 0;
}
.selector_heading {
    margin-bottom: 5px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    margin: 0 auto 10px auto;
}
.option {
    padding: 10px 0;
    width: 170px;
    text-align: center;
    cursor: pointer;

}
.option:hover {
    background-color: #FFF;
}

.wrapper {
    position: relative;
}
.button {
    cursor: pointer;
    margin: 0 5px 0 0;
    background: #FFF;
}

.button_active {
    background: #bcd4dc;
}
.pagination_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
.input {    
    width: 150px;
}
.input_container {
    margin-top: 10px;
}
.date_container {
    gap: 10px;
    display: flex;
    margin: 10px auto 10px auto;
    align-items: center;
    justify-content: center;
}
.invalid {
    outline: 2px solid red;
    color: red;
}