.container {
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 8px;
  border-spacing: 0;
  overflow-x: scroll;
}

.heading_container {
  background: #cde2e9;
  font-weight: bold;
  color: #285480;
}
.heading {
  border-bottom: 1px solid #bcd4dc;
  min-width: 100px;
  position: relative;
  cursor: pointer;
  padding: 5px;
}
.heading:first-of-type {
  min-width: 200px;
  cursor: pointer;
}
.sort_options {
    top: -20px;
    left: 20px;
}
.sort_heading {
    margin: 0;


}
.sort_selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #bcd4da;
    padding: 5px 0 0 0;
}
.selector_heading {
    margin-bottom: 5px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    margin: 0 auto 10px auto;
}
.option {
    padding: 10px 0;
    width: 170px;
    text-align: center;
    cursor: pointer;

}
.option:hover {
    background-color: #FFF;
}

.wrapper {
    position: relative;
}
