.container {
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 8px;
  border-spacing: 0;
  overflow-x: scroll;
}

.heading_container {
  background: #cde2e9;
  font-weight: bold;
  color: #285480;
}
.heading {
  border-bottom: 1px solid #bcd4dc;
  min-width: 100px;
}
.heading:first-of-type {
  min-width: 200px;
  cursor: pointer;
}
.body {

}
